<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="utf-8" />
		<title>Combat Visualization</title>
		<script>document.write('<base href="' + document.location + '" />');</script>
		<link rel="stylesheet" href="style.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.css"/>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-nvd3/1.0.5/angular-nvd3.min.js"></script>
		<script src="app.js"></script>
	</head>

	<body ng-controller="MainCtrl">  
		<nvd3 options="options" data="data"></nvd3>
		<button ng-click=clearData()>Clear Data</button>
		<button ng-click=start()>Start</button>
		<button ng-click=stop()>Stop</button>
		<div class="input-row">
			<label>Offense:</label>
			<input type="number" name="Offense" ng-model="offense"></input>
		</div>
		<div class="input-row">
			<label>Mitigation:</label>
			<input type="number" name="mitigation" ng-model="mitigation"></input>
		</div>
	</body>
</html>
