body, html {
    background-color: rgba(206, 227, 248, 1.0);
    font-size:12px;
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}

div.container {
    width: 90%;
    min-width: 800px;
    min-height: 900px;
    display: block;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.18);
    border-left: 1px solid rgba(95, 153, 207, 1.0);
    border-bottom: 1px solid rgba(95, 153, 207, 1.0);
    border-right: 1px solid rgba(95, 153, 207, 1.0);
}

div.header {
    text-align: center;
    font-size: 20px;
}

div.nav {
    height: 2.25em;
    background-color: rgba(80, 80, 80, 1.0);
    background: -moz-linear-gradient(top,  rgba(120,120,120,1.0),  rgba(65,65,65,1.0));
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(120,120,120,1.0)), to(rgba(65,65,65,1.0)));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#787878', endColorstr='#414141');
    border-top: 0;
    padding-left: 1.0em;
    padding-right: 1.0em;
    text-align: left;
    color: #333;
    border-top: 1px solid rgba(141, 141, 141, 1.0);
}

div.user_status {
    font-size: 10px;
    text-align: right;
    padding: 0.5em;
    padding-left: 1.0em;
    background: rgba(239, 247, 255, 1.0);
    display: block;
    float: right;
    border-radius: 0px 0px 0px 6px;
}

div.user_status a {
    color: rgba(51, 102, 153, 1.0);
    text-decoration: none;
    font-weight: bold;
}

div.user_status a:visited {
    color: rgba(51, 102, 153, 1.0);
    text-decoration: none;
    font-weight: bold;
}

div.user_status a:hover {
    color: rgba(51, 102, 153, 1.0);
    text-decoration: none;
    font-weight: bold;
    text-decoration: underline;
}

div.main {
    display: block;
    min-height: 600px;
    padding: 0.5em;
}

div.footer {
    height: 2em;
    font-size:9px;
    width: 90%;
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}

.navmenu {
    margin: 0;
    padding: 0;
}

.navmenu li {
    list-style: none;
    float: left;
}

.navmenu li a {
    display: block;
    padding-left: 1.0em;
    padding-right: 1.0em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: rgba(80, 80, 80, 1.0);
    background: -moz-linear-gradient(top,  rgba(120,120,120,1.0),  rgba(65,65,65,1.0));
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(120,120,120,1.0)), to(rgba(65,65,65,1.0)));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#787878', endColorstr='#414141');
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.navmenu ul li a {
    display: block;
    padding-left: 1.0em;
    padding-right: 1.0em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background: 0;
    filter: 0;
    background-color: rgba(221,221,221, 1.0);
    color: #000;
    text-decoration: none;
    font-weight: bold;
    border: 0;
}

.navmenu ul li a:hover {
    color: #07B;
}

.navmenu .current a, .navmenu li:hover > a {
    background: 0;
    filter: 0;
    background-color: rgba(221,221,221, 1.0);
    color: #07B;
}

.navmenu li ul {
    display: none;
    border: 1px solid rgba(103, 103, 103, 1.0);
    border-top: 0;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.navmenu li:hover ul, .navmenu li.hover ul {
   display: block;
   position: absolute;
   margin: 0;
   padding: 0;
}

.navmenu li:hover li, .navmenu li.hover li {
   float: none;
}

.lt_left {
    text-align: left;
}

.lt_right {
    text-align: right;
}

.styled_button {
    padding:2px 4px 2px 4px;
    margin:3px 3px 0 0;
    background-color:#f5f5f5;
    border:1px solid #bcbcbc;
    border-top:1px solid #ccc;
    border-left:1px solid #ccc;
    border-radius: 4px;
    color:#336699;
    text-decoration:none;
    line-height:130%;
    cursor:pointer;
    width:auto;
    overflow:visible;
    font-weight:bold;
    box-shadow: 0 0 4px rgba(128, 128, 128, 0.2);
}

.styled_button:hover {
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}

.styled_button:active {
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}

.styled_button img {
    margin:0 3px -3px 0 !important;
}

.styled_button_disabled {
    padding:2px 4px 2px 4px;
    margin:3px 3px 0 0;
    background-color:#dddddd;
    border:1px solid #9a9a9a;
    border-top:1px solid #aaa;
    border-left:1px solid #aaa;
    border-radius: 4px;
    color: Gray;
    text-decoration:none;
    line-height:130%;
    cursor:default;
    width:auto;
    overflow:visible;
    font-weight:bold;
    box-shadow: 0 0 4px rgba(128, 128, 128, 0.2);
}

.styled_button_disabled img {
    margin:0 3px -3px 0 !important;
}

.styled_table {
    border: 1px solid #000;
    text-align: left;
    background-color: #f5f5f5;
    margin-right:auto;
    margin-left:auto;
    box-shadow: 0 0 5px rgba(128, 128, 128, 0.4);
}

.styled_table th {
    padding-left: 1.0em;
    padding-right: 1.0em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: rgba(80, 80, 80, 1.0);
    background: -moz-linear-gradient(top,  rgba(120,120,120,1.0),  rgba(65,65,65,1.0));
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(120,120,120,1.0)), to(rgba(65,65,65,1.0)));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#787878', endColorstr='#414141');
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.styled_table td, .styled_table th {
	padding: 4px 5px;
    text-align: center;
}

.odd {
    background-color: #f0f0f0;
}

.styled_table tr td img {
    margin:0 3px -3px 0 !important;
}

.error {
    color:red;
    width: 75.5em;
    text-align: left;
}

.console_out {
    box-shadow: 0 0 5px rgba(128, 128, 128, 0.4);
}

