<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" title="Default" href="main.css" type="text/css" />
</head>

<body>
<h2 align="center">Configuration File</h2>
<hr/>
<p><a href="configdl.html">Download XML Config </a></p>
<table bgcolor="#FFFFCC"><tr><td>
<font color="#000000">
<pre>
<?
$file = "eqemu_config.xml";
if(open(F, "<$file")) {
	while(<F>) {
		s/</&lt;/g;
		s/>/&gt;/g;
		print;
	}
	close(F);
} else {
	print "Unable to open $file";
}

?>
</pre></font></td></tr></table>
</body>
</html>
