<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" title="Default" href="main.css" type="text/css" />
</head>

<body>
<h2 align="center">Search Guilds</h2>
<hr/>
<?
$query = $request->get("name", "");
$type = $request->get("type", "");
?>
<form method="get" action="guildsearch.html">
<b>Guild Search:</b><br>
<input name="type" type="radio" value="name" <?if($type ne "leader" && $type ne "member") { print "checked"; } ?> > Guild Name <br>
<input name="type" type="radio" value="leader" <?if($type eq "leader") { print "checked"; } ?> > Leader Name <br>
<input name="type" type="radio" value="member" <?if($type eq "member") { print "checked"; } ?> > Member Name
<br>
<input name="name" type="text" value="<?print $query;?>">
<input name="" type="submit" value="Search">
</form>
<?
if($query ne "") {
	if($type eq "name") {
		print "search for guild by name $query...";
	} elsif($type eq "leader") {
		print "search for guild by leader $query...";
	} elsif($type eq "member") {
		print "search for guild by member $query...";
	} else {
		print "Invalid search type '$type'";
	}
}
?>
</body>
</html>
