<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" title="Default" href="main.css" type="text/css" />
</head>

<body>
<h2 align="center">World Management</h2>
<hr/>
<div align="center">
<a href="action.html?action=rebootworld">Reboot World</a> -
<a href="action.html?action=killworld">Kill World</a>
</div>

<?
my $act = $request->get("action", "none");
if($act eq "unlock") {
	$EQW->UnlockWorld();
} elsif($act eq "lock") {
	$EQW->LockWorld();
} elsif($act eq "lsreconnect") {
	$EQW->LSReconnect();
}
?>
<br><br>
<?do("templates/worldstatus.html");?>
... some world info or something....
</body>
</html>
