
	if($EQW->LSConnected()) {
		my $ls = $EQW->GetConfig("LoginHost");
		my $lsp = $EQW->GetConfig("LoginPort");
		print "World is connected to login server $ls:$lsp.<br>";
	} else {
		my $ls = $EQW->GetConfig("LoginHost");
		my $lsp = $EQW->GetConfig("LoginPort");
		print "World <b>NOT</b> connected to login server $ls:$lsp. <a href='world.html?action=lsreconnect'>Restart Auto Reconnect</a>.<br>";
	}

	if($EQW->GetConfig("Locked") eq "true") {
		print "World is locked. <a href='world.html?action=unlock'>Unlock World</a>.<br>";
	} else {
		print "World is NOT locked. <a href='world.html?action=lock'>Lock World</a>.<br>";
	}

	print "<br>\n";
	my $zcount = $EQW->CountZones();
	my $lcount = $EQW->CountLaunchers(1);
	my $pcount = $EQW->CountPlayers();
	print "There are <a href='zones.html'>$zcount zones booted</a>, <a href='launchers.html'>$lcount launchers connected</a>, and <a href='players.html'>$pcount players online.</a><br>";

